In [12]:
CREATE DATABASE ku_market_place_database;

In [13]:
use ku_market_place_database;

In [8]:
DROP TABLE IF EXISTS Customer
DROP TABLE IF EXISTS Category
DROP TABLE IF EXISTS Product
DROP TABLE IF EXISTS OrderItem
DROP TABLE IF EXISTS CustomerOrder
DROP TABLE IF EXISTS Shiping;

In [14]:
create table Customer (
    CustomerID varchar(200),
    address VARCHAR(200),
    phone VARCHAR(200),
    PRIMARY KEY (CustomerID)
)

create table Product(
    ProductID VARCHAR(200),
    gender VARCHAR(10) DEFAULT 'Unisex',
    masterCategory VARCHAR(50),
    subCategory VARCHAR(50),
    articleType VARCHAR(50),
    baseColour VARCHAR(50),
    season VARCHAR(20),
    year INT DEFAULT 2023,
    usage VARCHAR(20),
    productDisplayName VARCHAR(255),
    productPrice FLOAT DEFAULT 0,
    quantity INT DEFAULT 100,
    image VARCHAR(300)
    PRIMARY KEY (ProductID)
)

CREATE TABLE OrderItem (
    OrderItemID VARCHAR (200),
    ProductID VARCHAR(200),
    quantity INT DEFAULT 0,
    total_amount FLOAT DEFAULT 0,
    PRIMARY KEY (OrderItemID),
    FOREIGN KEY (ProductID) REFERENCES Product
)

CREATE TABLE CustomerOrder (
    CustomerID varchar(200),
    OrderID varchar(200),
    OrderItemID VARCHAR (200),
    payment VARCHAR(20) DEFAULT 'Credit Card' CHECK (payment IN ('Credit Card', 'Cash on Delivery', 'Paypal')),
    status VARCHAR(20) DEFAULT 'Prepare' CHECK (status IN ('Shipping', 'Delivery', 'Prepare')),
    total_amount FLOAT DEFAULT 0
    PRIMARY KEY (OrderID),
    FOREIGN KEY (CustomerID) REFERENCES Customer,
    FOREIGN KEY (OrderItemID) REFERENCES OrderItem
)

In [16]:
INSERT INTO Product (ProductID, articleType, baseColour, gender, masterCategory, productDisplayName, season, subCategory, usage, productPrice, year, quantity, image)
VALUES
  (18696, 'Jeans', 'Blue', 'Men', 'Apparel', 'Peter England Men Party Blue Jeans', 'Summer', 'Bottomwear', 'Casual', 1356.5, 2012, 150, 'http://assets.myntassets.com/v1/images/style/properties/4850873d0c417e6480a26059f83aac29_images.jpg'),
  (18715, 'Watches', 'Black', 'Men', 'Accessories', 'CASIO G-Shock Men Black Digital Watch G-7710-1DR G223', 'Winter', 'Watches', 'Casual', 3616, 2016, 173, 'http://assets.myntassets.com/assets/images/17429/2018/3/5/11520250143953-CASIO-G-Shock-Men-Black-Digital-Watch-G223-8211520250143786-1.jpg'),
  (18698, 'Track Pants', 'Black', 'Men', 'Apparel', 'Manchester United Men Solid Black Track Pants', 'Fall', 'Bottomwear', 'Casual', 7636.25, 2011, 157, 'http://assets.myntassets.com/v1/images/style/properties/8153dc35d9a5420eeb93922067137db6_images.jpg'),
  (18702, 'Shirts', 'Purple', 'Women', 'Apparel', 'Jealous 21 Women Purple Shirt', 'Summer', 'Topwear', 'Casual', 1697.75, 2012, 143, 'http://assets.myntassets.com/v1/images/style/properties/45ddbc6a15140556214e15923244755b_images.jpg'),
  (18700, 'Tshirts', 'Grey', 'Men', 'Apparel', 'Inkfruit Mens Chain Reaction T-shirt', 'Summer', 'Topwear', 'Casual', 4489, 2011, 58, 'http://assets.myntassets.com/v1/images/style/properties/9c1b19682ecf926c296f520d5d6e0972_images.jpg'),
  (18701, 'Shirts', 'Green', 'Men', 'Apparel', 'Fabindia Men Striped Green Shirt', 'Summer', 'Topwear', 'Ethnic', 6280.75, 2012, 176, 'http://assets.myntassets.com/v1/images/style/properties/06e9d4231254fdb2c7fe967ad413ad7b_images.jpg'),
  (18714, 'Handbags', 'Brown', 'Women', 'Accessories', 'Baggit Women Brown Handbag', 'Summer', 'Bags', 'Casual', 6503.25, 2012, 148, 'http://assets.myntassets.com/v1/images/style/properties/b14c7bf275c6edca3e849200fb7cbf6c_images.jpg');

In [17]:
INSERT INTO Customer (address, phone, CustomerID)
VALUES
  ('New Address 1', 012345678, 1),
  ('19/140 Kaset', 098765432, 10),
  ('Chinatown', 011111111, 7),
  ('BKK', 021212121, 12),
  ('Bangkok', NULL, 2),
  ('Chiangmai', 099999999, 6);

In [19]:
INSERT INTO OrderItem (ProductID, OrderItemID)
VALUES
  (18696, 136),
  (18698, 137),
  (18702, 139),
  (18700, 140),
  (18700, 141);

In [21]:
INSERT INTO Customer (address, phone, CustomerID)
VALUES
  ('New Address 2', 092685502, 17),
  ('New Address 3', 09999999, 14),
  ('Address 6', NULL, 15),
  ('Address 4', 092836276, 16)
  
INSERT INTO CustomerOrder (OrderID, OrderItemID, status, total_amount, CustomerID, payment)
VALUES
  (1, 136, 'Delivery', 2713, 17, 'PayPal'),
  (2, 137, 'Prepare', 0, 17, 'Credit Card'),
  (3, 139, 'Shipping', 1356.5, 6, 'Credit Card'),
  (4, 140, 'Prepare', 0, 6, 'Credit Card'),
  (5, 141, 'Delivery', 3616, 14, 'PayPal'),
  (57, 140, 'Prepare', 0, 14, 'Credit Card'),
  (53, 136, 'Delivery', 3616, 15, 'PayPal'),
  (54, 137, 'Prepare', 0, 15, 'Credit Card'),
  (56, 139, 'Prepare', 5093.25, 16, 'Credit Card');

In [23]:
-- List all customers and their total order amounts

SELECT c.CustomerID, c.address, SUM(co.total_amount) AS total_order_amount
FROM Customer c
LEFT JOIN CustomerOrder co ON c.CustomerID = co.CustomerID
GROUP BY c.CustomerID, c.address;

CustomerID,address,total_order_amount
1,New Address 1,NULL
10,19/140 Kaset,NULL
12,BKK,NULL
14,New Address 3,3616
15,Address 6,3616
16,Address 4,5093.25
17,New Address 2,2713
2,Bangkok,NULL
6,Chiangmai,1356.5
7,Chinatown,NULL

In [26]:
-- Filter products from most to least expensive

SELECT ProductID, productPrice, productDisplayName FROM Product
ORDER BY productPrice DESC

ProductID,productPrice,productDisplayName
18698,7636.25,Manchester United Men Solid Black Track Pants
18714,6503.25,Baggit Women Brown Handbag
18701,6280.75,Fabindia Men Striped Green Shirt
18700,4489,Inkfruit Mens Chain Reaction T-shirt
18715,3616,CASIO G-Shock Men Black Digital Watch G-7710-1DR G223
18702,1697.75,Jealous 21 Women Purple Shirt
18696,1356.5,Peter England Men Party Blue Jeans

In [27]:
-- Calculate the total sales for each product.

SELECT p.ProductID, p.productDisplayName, SUM(co.total_amount) AS total_sales
FROM Product p
JOIN OrderItem oi ON p.ProductID = oi.ProductID
JOIN CustomerOrder co ON oi.OrderItemID = co.OrderItemID
GROUP BY p.ProductID, p.productDisplayName;

ProductID,productDisplayName,total_sales
18696,Peter England Men Party Blue Jeans,6329
18698,Manchester United Men Solid Black Track Pants,0
18700,Inkfruit Mens Chain Reaction T-shirt,3616
18702,Jealous 21 Women Purple Shirt,6449.75

In [30]:
-- List all orders with 'Credit Card' payment

SELECT CustomerID, OrderID, payment FROM CustomerOrder
WHERE payment = 'Credit Card';

CustomerID,OrderID,payment
17,2,Credit Card
6,3,Credit Card
6,4,Credit Card
15,54,Credit Card
16,56,Credit Card
14,57,Credit Card

In [31]:
-- Find customers who haven't placed any orders

SELECT c.CustomerID, c.address
FROM Customer c
LEFT JOIN CustomerOrder co ON c.CustomerID = co.CustomerID
WHERE co.CustomerID IS NULL;

CustomerID,address
1,New Address 1
10,19/140 Kaset
12,BKK
2,Bangkok
7,Chinatown

In [34]:
-- Retrieve a list of products that are currently out of stock.

SELECT * FROM Product
WHERE quantity = 0;

In [39]:
-- Calculate the average order value for all completed orders.

SELECT AVG(total_amount) AS average_prepared_order
FROM CustomerOrder
WHERE status = 'Prepare';

average_prepared_order
1018.65

In [42]:
-- Identify all pending orders and their details.

SELECT co.OrderID, co.status, co.total_amount
FROM CustomerOrder co
JOIN Customer c ON co.CustomerID = c.CustomerID
WHERE co.status = 'Prepare';

OrderID,status,total_amount
2,Prepare,0
4,Prepare,0
54,Prepare,0
56,Prepare,5093.25
57,Prepare,0

In [45]:
-- Identify the most common payment method:

SELECT payment, COUNT(*) AS payment_count
FROM CustomerOrder
GROUP BY payment
ORDER BY payment_count DESC

payment,payment_count
Credit Card,6
PayPal,3

In [62]:
-- Count order items for a specific order:

SELECT COUNT(*) AS "count"
FROM OrderItem
INNER JOIN CustomerOrder
ON (OrderItem.OrderItemID = CustomerOrder.OrderItemID)
WHERE CustomerOrder.OrderID = 57;

count
1

In [59]:
-- Search products by display name with price sorting:

SELECT ProductID, gender, masterCategory, subCategory, articleType, baseColour, season, year, usage, productDisplayName, productPrice, quantity, image
FROM Product
WHERE UPPER(Product.productDisplayName) LIKE UPPER('%Watch%')
ORDER BY Product.productPrice DESC;

ProductID,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,productPrice,quantity,image
18715,Men,Accessories,Watches,Watches,Black,Winter,2016,Casual,CASIO G-Shock Men Black Digital Watch G-7710-1DR G223,3616,173,http://assets.myntassets.com/assets/images/17429/2018/3/5/11520250143953-CASIO-G-Shock-Men-Black-Digital-Watch-G223-8211520250143786-1.jpg

In [57]:
-- Retrieve product by ID

SELECT ProductID, gender, masterCategory, subCategory, articleType, baseColour,
       season, year, usage, productDisplayName, productPrice, quantity, image
FROM Product
WHERE Product.ProductID = '18696'

ProductID,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,productPrice,quantity,image
18696,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012,Casual,Peter England Men Party Blue Jeans,1356.5,150,http://assets.myntassets.com/v1/images/style/properties/4850873d0c417e6480a26059f83aac29_images.jpg

In [50]:
-- Identify total purchase amount of each customer.

SELECT 
    CustomerID, totalPurchaseAmount
FROM (
    SELECT 
        c.CustomerID,
        SUM(co.total_amount) AS totalPurchaseAmount
    FROM Customer c
    JOIN CustomerOrder co ON c.CustomerID = co.CustomerID
    GROUP BY c.CustomerID
) AS CustomerPurchase
WHERE totalPurchaseAmount > 500;

CustomerID,totalPurchaseAmount
14,3616
15,3616
16,5093.25
17,2713
6,1356.5